@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVF.woff2") format("woff2");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111110 !important;
  }
}

* {
  font-size: 1em !important;
}
body {
  margin: 0;
  font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgb(33, 32, 28);
  font-smooth: always;
  font-size: 1em !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
